
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* i will  change as Nunito sans*/
  font-family: "Nunito Sans", sans-serif;
}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left bottom, #290537, #630047, #9d0147, #cd2e38, #eb6312);
}


.home{
 display: flex;
 width: 100vw; 
 height: 100vh;
 padding: 20px;
 justify-content: space-between;
}

.login{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 75%;
    background: white;
    border-radius:10px;
    padding:20px;
   gap: 15px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

footer{

  color: #4480ef;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  bottom: 25px;

}

footer button{
  all:unset;
  color: black;
}

h1{
  text-align: start;
 
}

h4{
  text-align: start;
  margin-bottom: 20px;
}

h5{
  text-align: start;
  color: #ef4444;
  margin-bottom: 20px;
}

button{
  padding: 8px;;
}



/* button:disabled{
opacity: 60%; 
} */

.actionBar{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  padding:10px;
  margin-bottom: 10px;
}

.actionBar button{
  background: #4480ef;
  border-radius: 4px;
  color: white;
  border: none;
}

.actionBar button:disabled{
  background: lightgray;
  cursor: pointer;
}

.textField {
    position: relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    min-height: 120px;
  }

  .textField input::placeholder{
    color: #808080;
    opacity: 0.3;
    font-size: 0.9rem;
  }

  
  .textField label {
    width: 100%;
    padding: 5px 0px;
  }

  .textField .leadingIcon{
    width:fit-content;
    height: fit-content;
  }

  .textField input {
      width: 80%;
      padding: 0.6rem; 
      font-size: 1.0rem;
      outline: none;
      border: none;
      background: transparent;
  }
  
  .textField .field:focus-within {
      outline: none; 
      transition: border-color 0.2s ease-in-out;
      border-color: rgb(50, 115, 220);
  }

  .textField .trailingIcon{
    display: none;
  }

  .textField input:focus + .trailingIcon {
    display: block;
  }

  


  .textField .field{
    display: flex;
    align-items: center;
    border: solid 2px;
    border-color: rgba(50, 115, 220, 0.3);
    border-radius:8px;
    justify-content:flex-start;
    padding: 5px 6px;
  }

  
  .textField button {
    padding: 0.5rem 1rem; 
    /* background-color: #22d3ee;  */
    color: black; 
    border: none; 
    border-radius: 0.375rem; 
    cursor: pointer;
  }
  
  .textField p {
    justify-self: start;
    color: #ef4444; 
    width: 100%;
    height: fit-content;
    white-space: pre-wrap;
    text-align: left;
    line-height: 2;
    margin-top: 0.5rem; 
    font-size: 0.8rem;
  }

  .textField p:nth-last-of-type(1) {
    color: #4480ef; 
  }